node_modules/
.cache/
public
src/gatsby-types.d.ts

.env
.yarn

# Package Manager Lock Files (templates only — remove if your project uses one)
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
deno.lock
